[submodule "sophia"]
	path = app/sophia
	url = https://github.com/ethosengine/sophia.git
[submodule "rust-ipfs"]
	path = elohim/rust-ipfs
	url = https://github.com/ethosengine/rust-ipfs.git
	branch = elohim
