[workspace]
members = [
    "zomes/node_registry_integrity",
    "zomes/node_registry_coordinator",
]
resolver = "2"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
overflow-checks = true
